*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: #e53170;
    padding: 20px 0px;
}

p{
    padding: 25px 0px;
}

.cards-container{
    margin: 20px 20px;
}

.card{
    width: calc(100% / 3);
    height: 100px;
    background-color: #0f0e17;
    color: white;
}