*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: #e53170;
    padding: 20px 0px;
}

p{
    padding: 25px 0px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.float-element{
    float: left;
}

.card{
    width: calc((98% / 3) - 20px);
    height: 100px;
    background-color: #0f0e17;
    color: white;
    margin: 1.5rem 10px;
    float: left;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-avatar{
    width: 100px;
    float: left;
}

.name-surname{
    color: white;
    font-size: 1.15rem;
    padding: 12px 10px 5px 12px;
}

.job{
    padding: 0px 10px;
}

.e-mail{
    color: #2fa1db;
    padding: 5px 10px;
}